.prefsModal {
  z-index: 1;
  position: fixed;
  bottom: max(80px, 15%);
  width: 200px;
  height: 100px;
  overflow: auto;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(90, 90, 90, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 5px;
  background-color: #e6e6e6;
  /* For narrow, but not very small screens */
  transform: translateX(calc(-50vw + 275px));

  /* For wide screens */
  @media (min-width: 1650px) {
    transform: translateX(-33.5vw);
  }

  /* For small screens */
  @media (max-width: 550px) or (max-height: 680px) {
    transform: unset;
  }
}

.prefContainer {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.prefButton {
  -webkit-tap-highlight-color: transparent;
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
  padding: 0;
  border: 0;
  padding-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
}

.prefButton:hover {
  color: maroon;
}

.prefButton:active {
  color: #d22b2b;
}

.prefIcon {
  color: inherit;
  width: 1.5em;
  height: 1.5em;
}
