.prefsModal {
  z-index: 1;
  position: fixed;
  right: 33.8%;
  bottom: 15%;
  width: 200px;
  height: 100px;
  overflow: auto;
  background-color: #e6e6e6;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(90, 90, 90, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;

  /* For smaller screens */
  @media (max-height: 680px) {
    top: unset;
    left: unset;
    bottom: 100px;
    right: 200px;
  }
}

.prefContainer {
  width: 100%;
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.prefButton {
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
  padding: 0;
  border: 0;
  padding-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
}

.prefIcon {
  color: inherit;
  width: 1.5em;
  height: 1.5em;
}

.prefButton:hover {
  color: maroon;
}

.prefButton:active {
  color: #d22b2b;
}
