.chatContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  padding: 30px;
  background-color: #ffffff;
  color: black;

  /* For narrower screens, take up full viewport */
  height: 100%;
  width: 100%;

  /* For wider screens, size responsively */
  @media (min-width: 550px) and (min-height: 680px) {
    height: 90%;
    width: 33%;
    min-width: 550px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
