.chatContainer {
  background-color: #ffffff;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;

  /* For narrower screens */
  height: 100%;
  width: 100%;

  /* For wider screens */
  @media (min-width: 550px) and (min-height: 680px) {
    height: 90%;
    width: 33%;
    min-width: 550px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
