.inputVerticalContainer {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  border-top: 1.2px solid lightgrey;
}

.inputProfileTextContainer {
  flex-basis: 65%;
  display: flex;
  flex-direction: row;
}

.inputTextBoxContainer {
  flex-basis: 90%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.inputTextBoxContainer > form {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.inputTextBoxContainer > form > textarea {
  font-family: inherit;
  font-size: inherit;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  padding: 38px 10px 10px 10px;
  color: inherit;
  background-color: inherit;
  outline: none;
  resize: none;
}

.inputOptionsContainer {
  flex-basis: 35%;
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}

.inputOptionsCol {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: grey;
}

.inputOptionsColLeft {
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  gap: 15px;
}

.inputOptionsColRight {
  justify-content: flex-end;
  align-items: center;
}

.inputOptionsColRight > button {
  background-color: inherit;
  color: inherit;
  margin-right: 1.8em;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.inputOptionsColRight button:nth-child(2) {
  margin-right: 0px;
}

.gearIcon {
  color: inherit;
  stroke-width: 1.5;
  width: 2.5em;
  height: 2.5em;
}

.gearIcon:hover,
.sendIcon:hover {
  color: var(--dark-purple);
}

.gearIcon:active,
.sendIcon:active {
  color: var(--purple);
}

.sendIcon {
  color: inherit;
  width: 2.1em;
  height: 2.1em;
}

.contextSelect {
  font-family: inherit;
  font-size: 15px;
  color: black;
  background-color: #fafbfc;
  border-radius: 8px;
  border-color: #e0e0e0;
  padding: 4px;
  outline: none;
}
