.inputVerticalContainer {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  background-color: lightgreen;
}

.inputTextContainer {
  flex-basis: 65%;
  display: flex;
  flex-direction: row;
  background-color: purple;
}

.inputOptionsContainer {
  flex-basis: 35%;
  display: flex;
  flex-direction: row;
  background-color: maroon;
}
