@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@368&display=swap');
:root {
  font-family: 'Afacad Flux', Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  font-size: 18px;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100dvh;
  overflow: hidden;
  width: 100vw;
}
