.llmMessageContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.llmProfilePicture {
  flex-basis: 10%;
}

.llmMessage {
  flex-basis: 90%;
  width: 100%;
  background-color: #f4f4f4;
  color: black;
  border-radius: 20px;
}
